html {
    font-family: "Helvetica", sans-serif;
    color: #8B4513;
    background-color: #FF8C00;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    padding: 2rem;
}
.guitar {
    display: inline-block;
    text-align: center;
    border: 5px solid black;
    padding: 10rem;
    margin: 10rem;
}
img {
    height: 200px;
    border: 2px solid gray;
    padding: 0.5rem;
    margin: 1rem;
}