html {
    font-family: "Helvetica", sans-serif;
    color: #8B4513;
    background-color: #FF8C00;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
.introParagraph {
    text-align: justify;
}
h3 {
    color:#FFFFFF;
    text-align: center;
    text-decoration: underline;
}
table, th, td {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border: 5px solid black;
    border-collapse: collapse;
    padding: 2rem;
}

.guitar {
    align-items: center;
    width: 200px;
    display: inline-block;
    text-align: center;
    border: 5px solid black;
    padding: 0.5rem;
    margin: 1rem;
}
img {
    align-items: center;
    height: 200px;
    border: 2px solid gray;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}